---
- name: Ejemplo de tareas repetitivas
  hosts: remotos
  become: yes

  vars:
    paquetes:
      - git
      - curl
      - htop

    usuarios:
      - borja
      - ana
      - carlos

  # present para instalar o crear y absent para desinstalar o eliminar los usuarios
  tasks:
    - name: Instalacion de paquetes en Linux-Debian
      apt:
        name: '{{item}}'
        state: present
      loop: '{{paquetes}}'
      when: ansible_os_family == 'Debian'
      tags:
        - setup
        - packages

    - name: Instalacion de paquetes en Linux-RedHat
      yum:
        name: '{{item}}'
        state: present  
      with_items: '{{paquetes}}'
      when: ansible_os_family == 'RedHat' and item != 'htop'
      tags:
        - setup
        - packages

    - name: Crear usuarios en el host administrado
      user:
        name: '{{item}}'
        state: present
        shell: /bin/bash
      with_list: '{{usuarios}}'
      tags:
        - users
        - setup
...
